<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Passaport to Life</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/mundo.png" rel="icon">
  <link href="assets/img/mundo.png " rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: FlexStart - v1.11.1
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="assets/img/mundo.png" alt="">
        <span>Passaport to life</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="/">Início</a></li>
          <li><a class="nav-link scrollto " href="/descricao">Descrição</a></li>
          <li><a class="nav-link scrollto" href="/conteudo">Conteúdo</a></li>
          <li><a class="nav-link scrollto" href="/desenvolvedora">Desenvolvedora</a></li>
          <li><a class="nav-link scrollto" href="/doacao">Doação</a></li>
          <li><a class="nav-link scrollto" href="/listar">Usuários</a></li>
          <%if(typeof Admin == "undefined"){%>
            <li><a class="getstarted scrollto" href="/login" class="link-danger" >Login</a></p></li>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
            <title>Meu Perfil</title>
            <%}%>
            <%if(typeof Admin !== "undefined"){%>
            <ul class="header-nav ms-auto">
              <br class="d-flex align-items-center">
             
              <lre3333i class="nav-item dropdown pe-3">
  
                <a class="nav-link nav-profile d-flex align-items-center pe-0" data-bs-toggle="dropdown">
                  <img src="assets/fotos/<%=Admin.foto%>"alt="Profile" class="rounded-circle" >
                  <span class="d-none d-md-block dropdown-toggle ps-2"><%=Admin.nome1%> <%=Admin.nome2%></span>
                </a><!-- End Profile Iamge Icon -->
  
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                  <li class="dropdown-header">
                    <h6><%=Admin.nome1%> <%=Admin.nome2%></h6>
                    <span><%=Admin.profissao%></span>
                  </li>
                  <li>
                    <a class="dropdown-item d-flex align-items-center" href="/perfil">
                      <i class="bi bi-person"></i>
                      <span>My Profile</span>
                    </a>
                  </li>
                  
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                      <i class="bi bi-box-arrow-right"></i>
                      <span>Sign Out</span>
                    </a>
                  </li>
                </ul>              
              </li>
                        
            </ul>
            <%}%> 
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
      </div>
      </div>
    </header>
    <!-- End Header -->