<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Passaport to Life</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/mundo.png" rel="icon">
  <link href="assets/img/mundo.png " rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: FlexStart - v1.11.1
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="assets/img/mundo.png" alt="">
        <span>Passaport to life</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="/">Início</a></li>
          <li><a class="nav-link scrollto " href="/descricao">Descrição</a></li>
          <li><a class="nav-link scrollto"e49474 href="/conteudo">Conteúdo</a></li>
          <li><a class="nav-link scrollto" href="/desenvolvedora">Desenvolvedora</a></li>
          <li><a class="nav-link scrollto" href="/doacao">Doação</a></li>
          <%if(typeof Admin == "undefined"){%>
            <li><a class="getstarted scrollto" href="/login" class="link-danger" >Login</a></p></li>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
            <title>Meu Perfil</title>
            <%}%>
            <%if(typeof Admin !== "undefined"){%>
            <ul class="header-nav ms-auto">
              <br class="d-flex align-items-center">
             
              <lre3333i class="nav-item dropdown pe-3">
  
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                  <img src="assets/img/profile-img.jpg" alt="Profile"  class="rounded-circle">
                  <span class="d-none d-md-block dropdown-toggle ps-2"><%=Admin.nome1%> <%=Admin.nome2%></span>
                </a><!-- End Profile Iamge Icon -->
  
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                  <li class="dropdown-header">
                    <h6><%=Admin.nome1%> <%=Admin.nome2%></h6>
                    <span><%=Admin.profissao%></span>
                  </li>
                  <li>
                    <a class="dropdown-item d-flex align-items-center" href="/perfil">
                      <i class="bi bi-person"></i>
                      <span>My Profile</span>
                    </a>
                  </li>
                  
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                      <i class="bi bi-box-arrow-right"></i>
                      <span>Sign Out</span>
                    </a>
                  </li>
                </ul>              
              </li>
                        
            </ul>
            <%}%> 
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
  <!-- End Header -->

  <section id="portfolio" class="portfolio">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Portfolio</h2>
        <p>Material Didádico</p>
      </header>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">Conteúdos</li>
            <li data-filter=".filter-app">Ciências Humanas</li>
            <li data-filter=".filter-card">Ciências da Natureza</li>
            <li data-filter=".filter-web">Linguagens</li>
          </ul>
        </div>
      </div>

      <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/geografia.PNG" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Geografia</h4>
              <p>Densidade Demográfica</p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/geografia.PNG" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Densidade Demográfica"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/artes.PNG" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Artes</h4>
              <p>Monalisa</p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/artes.PNG" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Monalisa"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/historia.PNG" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>História</h4>
              <p>Segunda Guerra Mundial</p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/historia.PNG" class="portfokio-lightbox" title="Segunda Guerra Mundial"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/biologia.PNG" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Biologia</h4>
              <p>Moléculas</p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/biologia.PNG" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Card 2"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/portugues.PNG" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Português</h4>
              <p>Locução Verbal</p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portugues.PNG" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 2"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/filosofia.PNG" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Filosofia</h4>
              <p>Sócrates</p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/filosofia.PNG" data-gallery="portfolioGallery" class="portfokio-lightbox" title="App 3"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/fisica.PNG" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Física</h4>
              <p>Eletricidade</p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/fisica.PNG" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Card 1"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/quimica.PNG" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Química</h4>
              <p>Eslementos Químicos</p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/quimica.PNG" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Card 3"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/literatura.PNG" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Literatura</h4>
              <p>Dom Casmurro</p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/literatura.PNG" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 3"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Portfolio Section -->

  
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>