<%- include('cabecalho2') -%>

  <main>
    <div class="container">

      <!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>

  <!-- Jumbotron -->

  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">z
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5" class="card-body p-5 shadow-5 text-center">Sign up now:</h2>

            <div class="form-outline mb-4">  <div class="d-flex justify-content-center py-4">
              
            </div><!-- End Logo -->
            <form method="POST" enctype="multipart/form-data">

              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="name" name="nome1" id="form3Example1" class="form-control" value="<%=Usuario.nome1%>"/>
                    <label class="form-label" for="form3Example1">First name</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="name" name="nome2" id="form3Example2" class="form-control" value="<%=Usuario.nome2%>"/>
                    <label class="form-label" for="form3Example2">Last name</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="telephone" name="telephone" id="form3Example1" class="form-control" value="<%=Usuario.telephone%>"/>
                    <label class="form-label" for="form3Example1">Telefone</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" name="profissao" id="form3Example2" class="form-control" value="<%=Usuario.profissao%>"/>
                    <label class="form-label" for="form3Example2">Profissão</label>
                  </div>
                </div>
              </div> 

              <div class="form-outline mb-4">
                <input type="text" name="cidade" id="form3Example3" class="form-control" value="<%=Usuario.cidade%>"/>
                <label class="form-label" for="form3Example3">Cidade</label>
              </div>

               <!-- foto input -->
               <div class="form-outline mb-4">
                  <input type="file" name="foto" id="form3Example3" class="form-control"  value="<%=Usuario.nome1%>"/>
                  <label class="form-label" for="form3Example3">Foto de Perfil</label>
               </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="username" name="username" id="form3Example3" class="form-control" value="<%=Usuario.username%>" />
                <label class="form-label" for="form3Example3">Email address</label>
              </div>

              <!-- Password input -->
             
                <input type="password" name="password" id="form3Example4" class="form-control" value="<%=Usuario.password%>"/>
                <label class="form-label" for="form3Example4">Password</label>
              </div>

              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                <label class="form-check-label" for="form2Example33">
                  Subscribe to our newsletter
                </label>
              </div>

              <!-- Submit button -->
              <button type="submit" value="Editar" class="btn btn-primary btn-block mb-4">
               Editar
              </button>

              
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="/assets/img/aviao.png" class="w-100 rounded-4 shadow-4"
          alt="" />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
<%- include('rodape') -%>
