<%- include('./cabecalho') -%>

<section id="portfolio" class="portfolio">
  <div class="container" data-aos="fade-up">

    <section style="background-color: #fffcf7;">
      <div class="section-header">
        <h2>Portfolio</h2>
        <p><%=nome%></p>
      </div>
      <div class="row d-flex justify-content-center" style="background-color: #fffcf7;">
        <div class="col-md-12 col-lg-10">
          <table style="color:#fffcf7">
            <tr>
              <th>
                <div class="card text-dark" style="height: 80px; width: 900px;">
                  <div class="card-body p-4">
                    <h4 class="mb-0" style="color: #b56e56;  text-align: center;">Material didático disponibilizado pelos usuários</h4>
              </th>
            </tr>
            <%Disciplinas.forEach(function(disciplina){%>
            <tr>
              <td>
                <br>
                <div class="section-header">
                  <h2><%=disciplina.titulo%></h2>
                  <div>
                    <p class="mb-0">
                        <img src="/assets/fotos/<%=disciplina.material%>" 
                        style="height: 500px; width: 500px;">
                      </a>
                    </p>
                      <p class="mb-0">
                   <a href="/assets/fotos/<%=disciplina.material%>"
                   download>Baixar material didático</a>
                   </p>
                  </div>
                </div>
              </td>
            </tr>
            <%})%>
          </table>
        </div>
      </div>
    </section>
  </div>
</section>

<%- include('./rodape') -%>
